/*Fonts.css*/

/*Roboto===========================================================*/
@font-face {
	font-family: roboto-light;
	src: url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-light-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-regular";
	src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-italic";
	src: url("../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-italic-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-medium";
	src: url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-medium-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-bold";
	src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "roboto-black";
	src: url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2"),
	url("../fonts/roboto/roboto-black-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/* Montserrat====================================================*/
@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"),
	url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"),
	url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/* Muli==================================================================*/
@font-face {
	font-family: "muli-regular";
	src: url("../fonts/muli/muli-regular-webfont.woff2") format("woff2"),
	url("../fonts/muli/muli-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "muli-light";
	src: url("../fonts/muli/muli-light-webfont.woff2") format("woff2"),
	url("../fonts/muli/muli-light-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}